{% extends "poll/poll_base.html" %}

{% block main %}
{% if user.is_staff %}

<div class="row">
    <div class="col mt-3">
        <form method="POST">
            <h1 class="my-3">
                Delete?
            </h1>
            <p>
                Are you sure you want to delete the poll "{{ poll.question }}" ?
            </p>
            {% csrf_token %}
            <input type="submit" value="Confirm" class="btn btn-danger btn-attn btn-lg float-start">
        </form>

        <!-- Cancel and return to poll list -->
        <a href="{% url 'poll_home' %}" class="btn btn-primary btn-lg mx-3"> Cancel </a>

    </div>
</div>

{% else %}
    <h3>
        Sorry! You have no access to this functionality.
    </h3>
    <!-- Cancel and return to poll list -->
    <div class="d-flex justify-content-center">
        <a href="{% url 'poll_home' %}" class="btn btn-primary btn-lg mx-3"> Polls </a>
    </div>
{% endif %}

{% endblock %}