{% extends "poll/poll_base.html" %}
{% load static %}

{% block title %}Poll{% endblock %}

{% block main %}
<div class="row">

    <div class="image-container">
        <img class="card-img-top illustration" src="{% static 'vote.jpg' %}"
        alt="audience in a hall with hands raised">
        <h1>Make yourself heard!</h1>
    </div>

    <ul class="list-group poll">
        {% for poll in poll_list %}
        <li class="list-group-item">
            <div class="align-middle">
                {{ poll.question }}
            </div>
            <div class="float-end">
                <div class="form-group">
                <a href="{% url 'poll_vote' poll.id %}" class="btn btn-info btn-xs">Vote</a> &nbsp;
                <a href="{% url 'poll_results' poll.id %}" class="btn btn-info btn-xs">View Results</a> &nbsp;
                <!-- Link for deleting poll -->
                
                {% if user.is_staff %}
                <a href="{% url 'poll_delete' poll.id %}" class="btn btn-danger btn-attn btn-xs">Delete poll</a>
                {% endif %}

            </div>
            </div>
        </li>
        {% endfor %}
    </ul>

</div>

<!-- Link for adding new poll -->
{% if user.is_authenticated and user.is_staff %}
<a href="{% url 'poll_create' %}" class="btn btn-primary btn-lg">New poll</a>
{% endif %}

{% endblock %}