{% extends "poll/poll_base.html" %}
{% load static %}

{% block title %}Poll{% endblock %}

{% block main %}
<div class="row">

    <div class="image-container">
        <img class="card-img-top illustration" src="{% static 'vote.jpg' %}">
        <h1>Make yourself heard!</h1>
    </div>

    <ul class="list-group poll">
        {% for poll in polls %}
        <li class="list-group-item">
            <span class="align-middle">
                {{ poll.question }} 
            </span>
            <div class="float-end">
                    <div class="form-group">
                <a href="{% url 'poll_vote' poll.id %}" class="btn btn-info btn-xs">Vote</a> &nbsp;
                <a href="{% url 'poll_results' poll.id %}" class="btn btn-default btn-xs">View Results</a> &nbsp;
            </div>
        </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}