{% extends "poll/poll_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create Poll{% endblock %}

{% block main %}
<div class="container-lg mt-3">

    {% if user.is_staff %}

    <h1>Create A New Poll</h1>

    <form method="POST">
    {% csrf_token %}

        <div>
            {{ form | crispy }}
        </div>
        
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-lg btn-primary">Submit</button>

                <!-- Navigation - Cancel and go to list of polls -->
                <a href="{% url 'poll_home' %}" class="btn btn-lg btn-attn btn-danger"> Cancel </a>
            </div>
        </div>

    </form>
    {% endif %}
            
</div>
{% endblock %}