{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Contact Us" %}{% endblock %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-md-6 mt-3 offset-md-3">
      <h1>{% trans "Drop us a letter!" %}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mt-3 offset-md-3">
      <form class="signup" id="contact_form" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn" type="submit">{% trans "Send" %}</button>
      </form>
    </div>
  </div>

</div>


<!-- <iframe height="800" src="https://my.forms.app/form/62d145d1971e3e097d3ee76e"" title="contact_form_zappier"></iframe> -->


{% endblock %}
