/* Google Fonts used: Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700;800&display=swap');


/* Common */

body {
    font-family: Raleway, sans-serif;
}

h1 {
    color: #408cdd;
}

a {
    text-decoration: none;
}

.btn {
    background-color: #408cdd;
    color: aliceblue;
    border: none;
    border-radius: 3px;
}

.icon {
    background-color: white;
    color: grey;
    border: none;
}

.details {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 40vh;
    width: 100%;
}

.details-text {
    position: relative;
}

.image-container {
    position: relative;
}

.details-image {
    position: relative;
}

.details-image img {
    object-fit: cover;
    width: 100%;
    min-height: 100%;
}

.details-image:after {
    position: absolute;
    width: 100%;
    z-index: 100;
}

input {
    float: right;
    border-color: lightgray;
    border-style: solid;
    border-radius: 3px;
    background-color: #E8F0FE;
}

/* Navigation */

.navbar {
    background-color: #f8f9fa;
}

.logo {
    font-weight: 800;
    color: #408cdd;
}

.logo-accent {
    color: #eb7575;
}


/* Footer */

footer {
    width: 100vh;
    text-align: center;
    background-color: #f8f9fa;
    padding-top: 1%;
    margin-top: 2%;
    height: 60px;
    display: block;
    width: 100%;
    clear: both;
}

footer ul {
    color: darkgray;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer li {
    display: inline;
    margin: 0 3%;
}

footer i {
    color: grey;
    font-size: large;
}

footer a :hover {
    color: black;
}

.footer-description {
    font-size: small;
    color: #0000008C;
}

.footer-description p {
    margin: 0;
    padding: 0 3px 5px;
    text-align: center;
}


/* Main page */

.post-link {
    color: #408cdd;
}

.post-link:hover,
.page-link {
    color: #eb7575;
}

