/* Google Fonts used: Raleway */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:wght@100;400;700;800&display=swap');

/* Default font colours */
:root {
    --logoblue: #3186e0;
    --logored: #eb7575;
    --mute: grey;
}


/* Common */

body {
    font-family: Raleway, Lato, Tahoma, sans-serif;
    background-color: #e7edf24d;
}

h1 {
    color: var(--logoblue);
}

a {
    text-decoration: none;
}

.card {
    background-color: white;
    border-color:rgba(91, 172, 253, 0.3);
}

.illustration {
    margin-bottom: 1rem;
}

.btn {
    background-color: var(--logoblue);
    color: aliceblue;
    border: none;
    border-radius: 3px;
    margin: 10px 3px;
}

.btn-attn {
    background-color: var(--logored);
    color: aliceblue;
    border: none;
    border-radius: 3px;
    margin: 10px 3px;
    border-radius: 3px !important;
}

.btn-lg {
    margin: 15px 3px;
}

.icon {
    background-color: white;
    color: grey;
    border: none;
}

.details {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 40vh;
    width: 100%;
}

.details-text {
    position: relative;
}

.image-container {
    position: relative;
}

.details-image {
    min-height: 200px;
    position: relative;
    margin-top: 0.5rem;
}

.details-image img {
    position: absolute;
    object-fit: cover;
    width: 100%;
}

.details-image:after {
    position: absolute;
    width: 100%;
    z-index: 10;
}

input {
    float: right;
    border-color: lightgray;
    border-style: solid;
    border-radius: 3px;
    background-color: #E8F0FE;
}

.alert {
    z-index: 10;
    top: 60px;

    left: 0;
    margin: auto; 
    position: absolute; 
    right: 0;
    text-align: center; 
    width: 80%;
}

.alert-align {
    position: absolute;
}

.alert-align button {
    position: absolute;
    display: inline;
        right: 12px;
}

.light {
    color: lightgrey;
}

.text-muted {
    color: var(--mute)!important;
} 

/* Navigation */

#content-top {
    position: absolute;
    top: 90vh;
}

.navbar {
    background-color: #f8f9fa;
}

.navspacer {
    height: 45px;
}

.logo {
    font-weight: 800;
    color: var(--logoblue);
}

.logo-accent {
    color: var(--logored);
}

#contrast-btn {
    border: none;
    background-color: #e7edf24d;
    margin: 0 0.25rem 0;
}


/* Footer */

footer {
    width: 100vh;
    text-align: center;
    background-color: #f8f9fa;
    padding-top: 1%;
    margin-top: 2%;
    height: 60px;
    display: block;
    width: 100%;
    clear: both;
}

footer ul {
    color: darkgray;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer li {
    display: inline;
    margin: 0 3%;
}

footer i {
    color: grey;
    font-size: large;
}

footer a :hover {
    color: black;
}

.footer-description {
    font-size: small;
    color: #0000008C;
}

.footer-description p {
    margin: 0;
    padding: 0 3px 5px;
    text-align: center;
}

footer hr {
    margin: 0.5rem;
    color: grey;
}


/* Main page */

.post-link {
    color: var(--logoblue);
}

.post-link:hover,
.page-link {
    color: var(--logored);
    margin-left: 5px;
}


/* Poll */

.poll label {
    display: block;
}


/* Hero image and cover text */

#hero-image {
    background: url('/static/placeholder.jpg');

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    object-fit: fill;

    height: 90vh;
    margin-bottom: 1vh;
    opacity: 0.9;
}

#cover-text, #cover-text h2, #cover-text p {
    color: white;
}

#cover-text {
    font-size: 150%;
    width: 400px;
    height: 250px;
    margin: auto;
    padding-top: 80px;
    text-align: center;
    background-color: rgba(91, 172, 253, 0.654);
    border-radius: 3px;
}

/* Show more indicator */

#hovertext {
    position: relative;
    margin-top: 1.5rem;
}

#hovertext:hover {
    color: var(--logoblue);
}
    
#hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: var(--logored);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    transition: opacity 1s ease-in-out;

    position: absolute;
    z-index: 1;
    left: 130px;
    /* top: 90%; */
    bottom: -25px;
}

#hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}


/* On-top previous/next navigation buttons */

#nav-container {
    position: relative;
    }

#prev, #next {
    position: absolute;
    top: 130px;
    z-index: 10;
    opacity: 0.9;
    font-size: x-large;
    }

#prev a, #next a {
border-radius: 2px;
}

#prev {
    left: 20px;
}

#next {
    right: 20px;
    }


/* For small screen sizes 768px wide and down */

@media screen and (max-width: 768px) {
    .card-img-top {
        max-height: 250px;
        object-fit: cover;
    }

    .details-image img {
        min-height: 150px;
        max-height: 250px;
    }

    #sidenav {
        visibility: hidden;
    }
}