{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Access Forbidden" %}{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Error 403 (CSRF Access Forbidden)</h1>
        <p class="text-center">
            
            <p>
                Sorry, you have no access to the requested page.
            </p>
            {% if not user.is_authenticated %}
                <p>Do you need to <a href="{% url 'account_login' %}">sign in</a>?</p>
            {% endif %}
                
        </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mt-3 offset-md-3 text-center">
            <a href="{% url 'blog_home' %}" class="btn btn-primary btn-lg">Home</a>
        </div>
    </div>
</div>

{% endblock %}
