{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block extrahead %}
    {{ booking_form.media }}
{% endblock %}

{% block content %}

<div class="container-fluid">

    {% if user.is_authenticated %}

        <h1 class="mt-3">Message us to book an appointment:</h1>

        <!-- Bookings -->
        <div class="row">
            <div class="col-md-4 card mb-4 mt-3">

                <!-- Displaying current bookings -->
                
                <div class="card-body">
                    <h5 class="card-title">Your current requests:</h5>
                    {% for booking in bookings %}
                    <div>
                        <h4 class="font-weight-bold mt-3">
                            {{ booking.treatment }}
                        </h4>
                        <p>
                            <span class=" text-muted font-weight-normal">
                                Request sent: {{ booking.updated_on }}
                            </span>
                        </p>
                        <p>
                            {{ booking.user }} wrote:
                        </p>
                        <p>
                            {{ booking.message | linebreaks }}
                        </p>
                        <p>
                            Prefered time: {{ booking.time }}
                        </p>
                    </div>
                    <hr class="border-1">
                    {% endfor %}
                </div>

            </div>

            <!-- New booking request form -->
            <div class="col-md-8 card mb-4 mt-3">
                <div class="card-body">
                    <h5 class="card-title">Request by: {{ user.username }}</h5>
                    <form method="post">
                        {{ booking_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                </div>
            </div>

        </div>

        {% endif %}

    </div>

{% endblock %}