{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<!-- Post -->
<div class="details">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 details-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
                <p class="card-text col-md-9 text-secondary">{{ post.excerpt }}</p>
            </div>
            <div class="d-none d-sm-block col-md-6 details-image">
                {% if "placeholder" in post.featured_image.url %}
                <img src="{{ MEDIA_URL }}placeholder.jpg">
                {% else %}
                <img src=" {{ post.featured_image.url }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Social -->
<div class="container">

    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text bg-primary">
                    {{ post.content | safe }}
                </p>
                <!-- Likes -->
                <div class="row">
                    <div class="col-2">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                    <button type="submit" name="blockpost_id" value="{{post.slug}}" class="icon">
                                        <i class="fas fa-heart"></i>
                                    </button>
                                {% else %}
                                    <button type="submit" name="blockpost_id" value="{{post.slug}}" class="icon">
                                        <i class="far fa-heart"></i>
                                    </button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}

                            <!-- Likes count -->
                            <span class="text-secondary"> {{ post.number_of_likes }} </span>
                        </strong>
                    </div>

                    <!-- Comment count -->
                    <div class="col-2">
                        {% with comments.count as total_comments %}
                            <strong class="text-secondary"><i class="far fa-comments"></i>
                                {{ total_comments }}
                            </strong>
                        {% endwith %}
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Link for editing post -->
    {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'post_edit' post.slug %}" class="btn btn-primary btn-lg">Edit post</a>

    {% endif %}

        <!-- Link for deleting post -->
        {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'post_delete' post.slug %}" class="btn btn-danger btn-attn btn-lg">Delete post</a>

    {% endif %}

    <!-- Horisontal ruler -->
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

    <!-- Comments -->
    <div class="row">
        
        <!-- Displaying comments -->  
        <div class="col-md-8 card mb-4  mt-3 "> 
            <div class="card-body">
                <h3>Comments:</h3>
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span>
                        {{ comment.author }} wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Inserting comments -->
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                    <div class="alert alert-primary" role="alert">
                        Your comment is awaiting approval
                    </div>
                {% else %}
                    {% if user.is_authenticated %}
                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post" style="margin-top: 1.5em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}